<!DOCTYPE html>
<html lang="en">
<head>
  <title>404 - Not Found</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% include 'bootstrap.html' %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="d-flex flex-column min-vh-100">
  {% include 'nav.html' %}
  <img class="flex-grow-1 d-flex justify-content-center align-items-start pt-50" id="404" src="https://81e7c07c-0d08-4488-8cdf-5ac400450ee2-00-nkc60y249h52.sisko.replit.dev/static/404.jpg" style="max-height: 600px; max-width: 100%;" >
  {% include 'footer.html' %}
</body>
</html>